.wrapUsers {
  
  .tableUser {
    background-color: #fff;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }
  .edit {
    color: green;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 16px;
    &:hover {
      background-color: #fff;
    }
  }

  .delete {
    color: red;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 16px;

    &:hover {
      background-color: #fff;
    }
  }
}
.wrapEditModal {

  .modalEditUser {
    .inputAdd {
      label {
        display: block;
        width: 100%;
      }
      input {
        padding: 10px;
        width: 100%;
        border-radius: 5px;

      }
      select {
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 2px solid black;
      }

      .txtError{
        color: red;
        font-size: 13px;
      }
    }

    .btnEditUser{
      text-align: center;
      margin: 20px 0;
      button {
        padding: 14px;
        width: 30%;
      }
    }
    
  }
}
