.wrapMovie{
    background-image: url("./movie-details-bg.jpg");
    color: #fff;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    // min-width: 100vh;
}