.wrapTheater{
    // padding: 60px 0;
    color: white;
    // height: 720px;
    .theaters{
        height: 100%;
        button {
            color: white;
        }

        // .detailTheater{
        //     border: 1px solid red;
        //     max-width: 50%;
        //     width: 100%;
        // }


    }
}
