.home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 10vw;
    text-align: center;
    color: white;
    text-shadow: #000 1px 0 10px;
    background-color: rgb(173, 173, 173);
    p{

        margin: 0;
    }
}