.wrapRoot{
    // background-color: rgb(227, 226, 226);
    background-image: url("../../../public/img/anh-bau-troi-xanh-va-mat-nuoc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}